.cell {
    background-color: white;
    padding: 0;
    margin: 0;
    width: 150px;
    height: 150px;
    cursor: pointer;
    font-size: 5rem;
}

.cell:hover {
    background-color: aqua;
}

.board {
    width: 30rem;
}